/* style.css */
::-webkit-scrollbar {
    display: none;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contents {
    /* margin-top: 6vh; */
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

#hero-heading {
    width: fit-content;
    font-size: 3rem;
    margin-bottom: 1vw;
    color: white;
    text-align: left;
    margin-top: 50px;
}

#hero-heading .highlight {
    color: #e91e63;
}

#hero {
    font-size: 1.2rem;
    text-align: left;
}

#my-work-btn {
    background-color: #e91e63;
    color: white;
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#my-work-btn:hover {
    transform: scale(1.05);
}

#hero-background {
    width: 100%;
    height: 100%;
    opacity: 7%;
    z-index: 0;
    position: absolute;
}

#hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    
}

#hero-body {
    display: flex;
    justify-content: center;
    color: white;
    animation: fadeIn 1.5s ease-out;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

#me-image {
    width: fit-content;
    /* height: 94vh; */
    margin-right: 10vw;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border: 2pt solid white;
    animation: fadeIn 1.5s ease-out;
    z-index: 1;
    position: relative;
    /* opacity: 90%; */
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-image: url('img/down-arrow.png');
    background-size: cover;
    animation: bounce 1.5s infinite;
}

#about-heading {
    border-bottom: 2pt solid #000135;
    width: fit-content;
    font-size: 2rem;
    margin-bottom: 1vw;
    color: #000135;
    text-align: center;
    margin-top: 50px;
}

#about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000135;
    width: 30%;
    margin-bottom: 6vh;
    font-size: 1.07rem;
}

#my-cv-content {
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line {
    background-color: #000135;
    height: 0.3vh;
    width: 90%;
    margin-top: 1%;
}

.cv-image {
    margin-bottom: 3%;
    width: 80%;
    border-radius: 15px;
    position: relative; /* Set position for animation */
    opacity: 0; /* Initially hidden */
    clip-path: inset(100% 0% 0% 0%);
    animation: scrollIn 2s forwards; /* Animation applied */
}

#projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#projects-container {
    display: flex;
    width: 100%;
    padding-bottom: 30vw;
    justify-content: center;
    align-items: center;
}

#projects-heading {
    border-bottom: 2pt solid #000135;
    width: fit-content;
    font-size: 2rem;
    margin-bottom: 1vh;
    margin-top: 10vh;
    color: #000135;
    text-align: center;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 40vh;
    margin-top: 5vh;
    margin-bottom: 30vh;
    background-color: white;
    border-radius: 5%;
}

.project-image {
    height: 50%;
}

.project-summary { 
    display: flex;
    flex-direction: column; 
    align-items: center;  
    height: 50%;
    width: 80%;
    margin-bottom: auto;
    margin-top: 1vh;
}

.project-heading {
    width: fit-content;
    font-size: 1.5vh;
    margin-top: 1vh;
    color: #000135;
    text-align: center;
}

.project-details {
    
}

@keyframes scrollIn {
    0% {
        transform: translateY(-100%); /* Start below the screen */
        opacity: 1; /* Fully transparent */
        clip-path: inset(100% 0% 0% 0%);
    }    100% {
        transform: translateY(0); /* End at original position */
        opacity: 1; /* Fully opaque */
        clip-path: inset(0% 0% 0% 0%);
    }}

    #open-cv-btn {
        background-color: #000135;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 2px;
        font-size: 16px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
    
    #open-cv-btn:hover {
        transform: scale(1.05);
    }
    
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}